.pred
  .subheader
    h2  Предложения
  .images-wrap
    a(href="#" data-hystmodal="#deliveryulus")
      .image-with-text
        .image-block
          img(src="./img/banner11.png")
        .image-dark-opacity
        .image-text
          span  Доставляем мебель в улусы
    a(href="#")
      .image-with-text
        .image-block
          img(src="./img/banner22.png")
        .image-dark-opacity
        .image-text
          span Мебель по-вашему вкусу
