ul.contacts
  li.phone
    i 
      img(src="./img/phone.svg" alt="")
    a(href="tel: 89998003344").b.w + 7 (4112) 31-84-40
  li.mail 
    i   
      img(src="./img/mail.svg", alt="")
    a(href="mailto: dsadsa@mai.ru").b.w info@dvenergy.pro
  li.point
    i 
      img(src="./img/point.svg", alt="")
    a(href="#").b.w
      span.b-m.w-m ​Птицефабрика микрорайон 
      span.b-m.w-m 1/22 этаж