
$base-font-size: 22px;
$color-gold: #f1cdb3;

:root {
  --color-text: #737373;
  --color-text-white:#FFFFFF;
  --color-text-link: #0061D9;
  --color-black:#1E1E1E;
  --color-dark-gray: #171717;
  --color-gray-border: #262626;
  --color-btrx: #1475E7;
  --color-btrx-hover: #3794ff;
  --color-bg: #101010;
}