extends ../layout/catalog
block breadcrumbs
  +breadcrumbs('Главная','Мебель для спальни')
block head
  h1 Мебель для спальни
block swip
  .swiper-slide.type-slide
    a(href="#").type.type-active
      .type-img
        include ../../static/img/Мебель для спальни/Спальни.svg
      .type-name
        span Спальни
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/Комоды.svg
      .type-name
        span Комоды
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/Кровати.svg
      .type-name
        span Кровати
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/ТуалетныеСтолики,Трюмо.svg
      .type-name
        span Туалетные столики, трюмо
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/ТумбыПрикроватные.svg
      .type-name
        span Тумбы прикроватные
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/Шкафы.svg
      .type-name
        span Шкафы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/Зеркала.svg
      .type-name
        span Зеркала
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/Матрасы.svg
      .type-name
        span Матрасы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/ОснованияДляКроватей.svg
      .type-name
        span Основания для кроватей
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для спальни/СопутствующиеТовары.svg
      .type-name
        span Сопутствующие товары
      .type-count
        span 21
