extends ../layout/catalog
block breadcrumbs
  +breadcrumbs('Главная','Мебель для гостиной')
block head
  h1 Мебель для гостиной
block swip
  .swiper-slide.type-slide
    a(href="#").type.type-active
      .type-img
        include ../../static/img/Мебель для гостиной/Гостиные.svg
      .type-name
        span Гостиные
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для гостиной/Комоды.svg
      .type-name
        span Комоды
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для гостиной/Полки.svg
      .type-name
        span Полки
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для гостиной/Столики.svg
      .type-name
        span Столики
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для гостиной/Тумбы.svg
      .type-name
        span Тумбы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для гостиной/ТумбыподТВ.svg
      .type-name
        span Тумбы под ТВ
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для гостиной/Шкафы.svg
      .type-name
        span Шкафы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для гостиной/Кресла-качалки.svg
      .type-name
        span Кресла-качалки
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для гостиной/Камины.svg
      .type-name
        span Камины
      .type-count
        span 21
