extends ../layout/catalog
block breadcrumbs
  +breadcrumbs('Главная','Мебель для прихожей')
block head
  h1 Мебель для прихожей
block swip
  .swiper-slide.type-slide
    a(href="#").type.type-active
      .type-img
        include ../../static/img/Мебель для прихожей/Прихожие.svg
      .type-name
        span Прихожие
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img.type-img-fixed
        include ../../static/img/Мебель для прихожей/Вешалки.svg
      .type-name
        span Вешалки
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для прихожей/Обувницы.svg
      .type-name
        span Обувницы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для прихожей/Шкафы.svg
      .type-name
        span Шкафы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для прихожей/Зеркала.svg
      .type-name
        span Зеркала
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Мебель для прихожей/СкамьиИБанкетки.svg
      .type-name
        span Скамьи и банкетки
      .type-count
        span 21
