extends ../layout/catalog
block breadcrumbs
  +breadcrumbs('Главная','Офисная мебель')
block head
  h1 Офисная мебель
block swip
  .swiper-slide.type-slide
    a(href="#").type.type-active
      .type-img
        include ../../static/img/Офисная мебель/КабинетыРуководителя.svg
      .type-name
        span Кабинеты руководителя
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Офисная мебель/ОперативнаяМебель.svg
      .type-name
        span Оперативная мебель
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Офисная мебель/КреслаИСтулья.svg
      .type-name
        span Кресла и стулья
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Офисная мебель/МеталлическаяМебель.svg
      .type-name
        span Металлическая мебель
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Офисная мебель/Сейфы.svg
      .type-name
        span Сейфы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Офисная мебель/Вешалки.svg
      .type-name
        span Вешалки
      .type-count
        span 21
