extends ../layout/catalog
block breadcrumbs
  +breadcrumbs('Главная','Детская мебель')
block head
  h1 Детская мебель
block swip
  .swiper-slide.type-slide
    a(href="#").type.type-active
      .type-img
        include ../../static/img/Детская мебель/Детские.svg
      .type-name
        span Детские
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Детская мебель/Комоды,Тумбы,Сундуки.svg
      .type-name
        span Комоды, тумбы, сундуки
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Детская мебель/Кровати.svg
      .type-name
        span Кровати
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Детская мебель/Матрасы.svg
      .type-name
        span Матрасы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img.type-img-fixed
        include ../../static/img/Детская мебель/Полки.svg
      .type-name
        span Полки
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img
        include ../../static/img/Детская мебель/Столы.svg
      .type-name
        span Столы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img.type-img-fixed
        include ../../static/img/Детская мебель/Шкафы.svg
      .type-name
        span Шкафы
      .type-count
        span 21
  .swiper-slide.type-slide
    a(href="#").type
      .type-img.type-img-fixed
        include ../../static/img/Детская мебель/КреслаИСтулья.svg
      .type-name
        span Кресла и стулья
      .type-count
        span 21
