.filter-menu
{
  visibility: hidden;
  position: fixed;
  overflow: auto;
  top: 0;
  left: -490px;
  width: 490px;
  height: 100vh;
  padding: 65px 70px;
  background-color: #F1F1F1;
  z-index: 99999;
  transition: all 0.2s $transition;
  @include xm
  {
    background-color: #fff;
    width: 100vw;
    left: -100vw;
    padding: 0 15px;
    padding-bottom: 15px;
  }
}
.filter-menu-wrap
{

}
.filter-menu-open
{
  border-right: 1px solid #D9D9D9;
  visibility: visible;
  left: 0 !important;
}
.filter-menu-top
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-menu-close
{
  cursor: pointer;
  @include xm
  {
    height: 60px;
    width: 60px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.filter-menu-top-line
{
  @include xm
  {
    width: calc(100% + 30px);
    margin: 0 -15px;
    height: 1px;
    background-color: #cccccc
  }
}
.filter-menu-accords
{
  margin-top: 35px;
  @include xm
  {
    margin-top: 37px;
  }
}
.filter-menu-accords-wrap
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filter-menu-accords-accord
{

}
.filter-menu-accords-accord-outside
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.filter-menu-accords-accord-name
{

}
.filter-menu-accords-accord-arrow
{

}
.filter-menu-accords-accord-inside
{

}

.filter-menu-btns
{
  margin-top: 22px;
}
.filter-menu-btns-wrap
{
  display: flex;
  gap: 20px;
  @include xm
  {
    flex-direction: column;
    gap: 10px;
  }
}
.filter-menu-btn
{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  flex: 1;
  color: #fff;
  border-radius: 5px;
  @include xm
  {
    flex: auto;
  }
}
.filter-menu-btn-accept
{
  background-color: $colorGreen
}
.filter-menu-btn-reset
{
  background-color: $colorGold
}

.filter-menu-name
{
  span
  {
    font-size: 24px;
    @include xm
    {
      font-size: 18px;
    }
  }
}





.filter-menu-filter
{
  margin-top: 36px;
  font-size: 14px;
  @include xm
  {
    margin-top: 30px;
  }
}
.filter-menu-filter-name
{
  margin-bottom: 20px;
  @include xm
  {
    margin-bottom: 22px;
  }
}
.filter-menu-filter-input-wrap
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @include xm
  {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 40px;
  }
}
.filter-menu-filter-input
{
  display: flex;
  align-items: center;
}
.filter-menu-filter-input-name
{
  margin-right: 8px;
}
.filter-menu-filter-input-input
{
  width: 130px;
  height: 40px;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
  background-color: transparent;
  @include xm
  {
    width: auto;
    flex: 1
  }
}
input[type=range] {
   box-sizing: border-box;
   appearance: none;
   width: 100%;
   margin: 0;
   padding: 0 2px;
   /* Add some L/R padding to ensure box shadow of handle is shown */
   overflow: hidden;
   border: 0;
   border-radius: 1px;
   outline: none;
   background: linear-gradient(#232323,#232323) no-repeat center;
   /* Use a linear gradient to generate only the 2px height background */
   background-size: 100% 1px;
   pointer-events: none;

   &:active,
   &:focus {
      outline: none;
   }

   &::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
      border-radius: 20px;
      background-color: $colorGreen;
      position: relative;
      margin: 5px 0;
      /* Add some margin to ensure box shadow is shown */
      cursor: pointer;
      appearance: none;
      pointer-events: all;
      &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: 13px;
            left: 100%;
            width: 2000px;
            height: 2px;
      }
   }
}
.multi-range {
   position: relative;
   height: 50px;
   width: 100%;
   input[type=range] {
      position: absolute;

      &:nth-child(1) {
         &::-webkit-slider-thumb::before {
            background-color: red;
         }
      }

      &:nth-child(2) {
         background: none;

         &::-webkit-slider-thumb::before {
             background-color: gray;
         }
      }
   }
}
.filter-menu-filter-range
{

}

.style-menu
{
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -490px;
  width: 490px;
  height: 100vh;
  padding: 65px 70px;
  background-color: #fff;
  z-index: 99999;
  transition: all 0.2s $transition;
  @include xm
  {
    width: 100vw;
    left: -100vw;
    padding: 0 15px;
  }
}
.style-menu-open
{
  visibility: visible;
  left: 0 !important;
}
.style-menu-top
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.style-menu-name
{
  span
  {
    font-size: 18px;
  }
}
.style-menu-close
{
  cursor: pointer;
  @include xm
  {
    height: 60px;
    width: 60px;
    margin-right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.style-menu-top-line
{
  @include xm
  {
    width: calc(100% + 30px);
    margin: 0 -15px;
    height: 1px;
    background-color: #cccccc
  }
}
.style-options
{
  margin-top: 30px;
}
.style-options-wrap
{
  font-size: $fs;
  ul
  {
    display: flex;
    flex-direction: column;
    li
    {

    }
  }
}
.style-options-option
{
  display: block;
  padding-top: 25px;
  padding-bottom: 18px;
  border-bottom: 1px solid #E3E3E3;
  span
  {
    &:first-child
    {
      margin-right: 5px;
    }
  }
}


.catalog-cards
{
  margin-bottom: 50px;
  @include l
  {
    margin-bottom: 75px;
  }
}
.catalog-head
{
  margin-bottom: 50px;
  @include l
  {
    margin-bottom: 40px;
  }
  @include xm
  {
    margin-bottom: 20px;
  }
  h1
  {
    font-size: 24px;
    @include xm
    {
      font-size: 18px;
    }
  }
}
.sub-category
{
  padding: 26px 0;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  display: flex;
  justify-content: center;
  @include l
  {
    display: none
  }
  ul
  {
    display: flex;
    gap: 100px;
    @include l
    {
      gap: 50px;
    }
    li
    {
      a
      {
        display: block;
        padding: 10px;
      }
    }
  }
}
.filters
{
  padding: 20px 0;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 50px;
  @include l
  {
    border-top: 1px solid #e3e3e3;
  }
  @include xm
  {
    border-top: 1px solid #e3e3e3;
    border-bottom: none;
    margin: 0 -15px;
    padding: 20px 15px;
  }
}
.filters-wrap
{
  display: flex;
  justify-content: space-between;
  @include xm
  {
    flex-direction: column;
  }
}
.filters-btns-wrap
{
  display: flex;
  justify-content: space-between;
  @include m-small
  {
    gap: 10px;
  }
}
.filters-styles
{
  display: none;
  @include xm
  {
    display: flex;
  }
}
.filters-filter
{
  display: flex;
}
.filters-btn
{
  width: 170px;
  height: 45px;
  align-items: center;
  padding-left: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  cursor: pointer;
  @include m-small
  {
    width: auto;
    flex: 1
  }
}
.filters-icon
{
  margin-right: 10px;
}
.filters-sort
{
  display: flex;
  align-items: center;
  @include xm
  {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.filters-sort-name-sort
{
  @include xm
  {
    display: none;
  }
}
.filters-sort-opt
{
  display: flex;
  margin-left: 5px;
  a
  {
    display: block;
  }
}
.filters-sort-line
{
  display: block;
  margin: 0 5px;
}
.catalog-bottom
{
  display: flex;
  justify-content: center;
}
.catalog-bottom-tabs
{
  display: flex;
  gap: 15px;
  ul
  {
    display: flex;
    gap: 15px;
    li
    {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.active-tab
{
  font-weight: 700;
}
.catalog-bottom-btn
{
  margin: 0 auto;
  margin-bottom: 40px;
  width: 250px;
  height: 45px;
  background-color: $colorGreen;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  span
  {
    color: #fff;
  }
}
.catalog-bottom-text
{
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}
.catalog-bottom-tabs-prev
{
  .icon
  {
    width: 32px;
    height: 32px;
  }
}
.catalog-bottom-tabs-next
{
  .icon
  {
    width: 32px;
    height: 32px;
  }
}
